<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mapbox Angular directive</title>
  <link href="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css" rel="stylesheet" />
</head>
<body ng-app="angular-mapbox-example">
  <div ng-controller="demoController">
    <mapbox map-id="licyeus.i2pd1g7j" lat="47.643569" lng="-122.329453" zoom="12" scale-to-fit>
      <div ng-repeat="market in farmersMarkets | filter: filterTerm">
        <marker lat="{{market.coords.lat}}" lng="{{market.coords.lng}}" color="#39cccc" symbol="grocery">
          <h1>{{market.name}}</h1>
          <p>{{market.times}}</p>
        </marker>
      </div>

      <marker current-location></marker>
    </mapbox>

    <input type="text" ng-model="filterTerm" placeholder="search markets">
    <ul ng-repeat="market in farmersMarkets | filter: filterTerm">
      <li>
        <h3>{{market.name}}</h3>
        <p>{{market.times}}</p>
      </li>
    </div>
  </div>

  <script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js"></script>
  <script src="../lib/angular-1.2.js"></script>
  <script src="../dist/angular-mapbox.js"></script>
  <script src="example-app.js"></script>
</body>
</html>
