<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mapbox Angular directive</title>
  <link rel="stylesheet" href="../bower_components/mapbox.js/mapbox.css">
  <link rel="stylesheet" href="lib/MarkerCluster.css">
  <link rel="stylesheet" href="lib/MarkerCluster.Default.css">
</head>
<body ng-app="angular-mapbox-example" ng-controller="demoController">
  <input type="text" ng-model="status">
  {{ status }}
  <mapbox map-id="licyeus.i9pkgkg8"
          lat="47.643569"
          lng="-122.329453"
          on-reposition="mapMovedCallback"
          on-zoom="mapZoomedCallback"
          zoom="12" scale-to-fit>

    <marker lat="47.643569" lng="-122.329453" color="blue" icon="zoo">
      <h1>status: {{ status }}</h1>
      {{ farmersMarkets[0] | json}}
    </marker>

    <marker ng-repeat="market in farmersMarkets | filter: filterTerm"
            lat="{{market.coords.lat}}"
            lng="{{market.coords.lng}}"
            color="teal"
            icon="grocery">
      <h1>{{market.name}}</h1>
      <p>{{market.times}}</p>
    </marker>
  </mapbox>

  <input type="text" ng-model="filterTerm" placeholder="search markets">
  <ul>
    <li ng-repeat="market in farmersMarkets | filter: filterTerm">
      <h3>{{market.name}}</h3>
      <p>{{market.times}}</p>
    </li>
  </ul>

  <script src="../bower_components/mapbox.js/mapbox.js"></script>
  <script src="lib/angular-1.2.js"></script>
  <script src="lib/leaflet.markercluster.js"></script>
  <script src="../dist/angular-mapbox.js"></script>
  <script src="example-app.js"></script>
</body>
</html>
